# EDA PROCESS

## Preparing environment

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Getting data from .env file

`If you want to repeat the process, please create you database and import csv file from raw_data folder`

In [73]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

dotenv_path = ".env.example"
load_dotenv()

DATABASE_URL = os.getenv("DATABASE_URL", " ")

engine = create_engine(DATABASE_URL)

### Checking the dataset

In [74]:
%%sql
SELECT *
FROM Calls
LIMIT 5

 * postgresql://postgres:***@localhost/call_center_project

5 rows affected.

[('DKK-57076809-w-055481-fU                          ', 'Analise Gairdner                                  ', 'Neutral             ', 7, 'Billing Question    ', 'Detroit                                           ', 'Michigan            ', 'Call-Center         ', 'Within SLA          ', 17, 'Los Angeles/CA      ', datetime.date(2020, 10, 29)),
 ('QGK-72219678-w-102139-KY                          ', 'Crichton Kidsley                                  ', 'Very Positive       ', None, 'Service Outage      ', 'Spartanburg                                       ', 'South Carolina      ', 'Chatbot             ', 'Within SLA          ', 23, 'Baltimore/MD        ', datetime.date(2020, 10, 5)),
 ('GYJ-30025932-A-023015-LD                          ', 'Averill Brundrett                                 ', 'Negative            ', None, 'Billing Question    ', 'Gainesville                                       ', 'Florida             ', 'Call-Center         ', 'Above SLA           ', 45, 'Los Angeles/CA      ', datetime.date(2020, 10, 4)),
 ('ZJI-96807559-i-620008-m7                          ', 'Noreen Lafflina                                   ', 'Very Negative       ', 1, 'Billing Question    ', 'Portland                                          ', 'Oregon              ', 'Chatbot             ', 'Within SLA          ', 12, 'Los Angeles/CA      ', datetime.date(2020, 10, 17)),
 ('DDU-69451719-O-176482-Fm                          ', 'Toma Van der Beken                                ', 'Very Positive       ', None, 'Payments            ', 'Fort Wayne                                        ', 'Indiana             ', 'Call-Center         ', 'Within SLA          ', 23, 'Los Angeles/CA      ', datetime.date(2020, 10, 17))]

## EDA

### Table Shape

In [46]:
%%sql

SELECT 
    'Rows' AS category, COUNT(*) AS count
FROM Calls

UNION ALL

SELECT 
    'Columns' AS category, COUNT(*) AS count
FROM information_schema.columns
WHERE table_name = 'calls';

 * postgresql://postgres:***@localhost/call_center_project
2 rows affected.

[('Rows', 32941), ('Columns', 12)]

### Distinct values

1. Only 4 call centers

In [49]:
%%sql

SELECT DISTINCT call_center FROM calls;

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Los Angeles/CA      ',),
 ('Chicago/IL          ',),
 ('Denver/CO           ',),
 ('Baltimore/MD        ',)]

2. There are 5 distinct sentiments

In [48]:
%%sql

SELECT DISTINCT sentiment FROM calls;

 * postgresql://postgres:***@localhost/call_center_project
5 rows affected.

[('Negative            ',),
 ('Positive            ',),
 ('Very Negative       ',),
 ('Neutral             ',),
 ('Very Positive       ',)]

3. Only 3 different reasons

In [51]:
%%sql

SELECT DISTINCT reason FROM calls;

 * postgresql://postgres:***@localhost/call_center_project
3 rows affected.

[('Service Outage      ',),
 ('Payments            ',),
 ('Billing Question    ',)]

4. And 4 distinct channels

In [52]:
%%sql

SELECT DISTINCT channel FROM calls;

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Chatbot             ',),
 ('Web                 ',),
 ('Email               ',),
 ('Call-Center         ',)]

### Percentages

`What are percentage of sentiments for each channel?`

Result data for every channel is similar - mostly negative-neutral-very_negative

In [71]:
%%sql

SELECT
    channel,
    sentiment,
    ROUND((COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY channel)), 2) AS pct
FROM
    calls
GROUP BY
    channel, sentiment
ORDER BY
    channel, pct DESC;

 * postgresql://postgres:***@localhost/call_center_project
20 rows affected.

[('Call-Center         ', 'Negative            ', Decimal('33.56')),
 ('Call-Center         ', 'Neutral             ', Decimal('26.18')),
 ('Call-Center         ', 'Very Negative       ', Decimal('18.64')),
 ('Call-Center         ', 'Positive            ', Decimal('11.70')),
 ('Call-Center         ', 'Very Positive       ', Decimal('9.93')),
 ('Chatbot             ', 'Negative            ', Decimal('33.15')),
 ('Chatbot             ', 'Neutral             ', Decimal('26.66')),
 ('Chatbot             ', 'Very Negative       ', Decimal('18.48')),
 ('Chatbot             ', 'Positive            ', Decimal('11.91')),
 ('Chatbot             ', 'Very Positive       ', Decimal('9.80')),
 ('Email               ', 'Negative            ', Decimal('34.34')),
 ('Email               ', 'Neutral             ', Decimal('26.71')),
 ('Email               ', 'Very Negative       ', Decimal('17.99')),
 ('Email               ', 'Positive            ', Decimal('11.55')),
 ('Email               ', 'Very Positive       ', Decimal('9.41')),
 ('Web                 ', 'Negative            ', Decimal('33.32')),
 ('Web                 ', 'Neutral             ', Decimal('26.96')),
 ('Web                 ', 'Very Negative       ', Decimal('17.84')),
 ('Web                 ', 'Positive            ', Decimal('12.73')),
 ('Web                 ', 'Very Positive       ', Decimal('9.15'))]

`Are there any uniqueness in channels based on the reason client contacted the center?`

Yes, payments questions are only resolved by call_center channel. And Service Outage issues are not considered in call_center channel.

In [72]:
%%sql

SELECT
    channel,
    reason,
    ROUND((COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY channel)), 2) AS pct
FROM
    calls
GROUP BY
    channel, reason
ORDER BY
    channel, pct DESC;

 * postgresql://postgres:***@localhost/call_center_project
8 rows affected.

[('Call-Center         ', 'Billing Question    ', Decimal('55.36')),
 ('Call-Center         ', 'Payments            ', Decimal('44.64')),
 ('Chatbot             ', 'Billing Question    ', Decimal('71.48')),
 ('Chatbot             ', 'Service Outage      ', Decimal('28.52')),
 ('Email               ', 'Billing Question    ', Decimal('79.00')),
 ('Email               ', 'Service Outage      ', Decimal('21.00')),
 ('Web                 ', 'Billing Question    ', Decimal('87.74')),
 ('Web                 ', 'Service Outage      ', Decimal('12.26'))]

`Which day of the week is the most busy with calls?`

Friday, thursday the most busy; sunday is the least

In [73]:
%%sql

SELECT 
	to_char(call_date, 'Day' ) AS day_of_call,
	round((COUNT(*)*100.0)/(SELECT COUNT(*) FROM calls),2) AS percentage
FROM calls
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/call_center_project
7 rows affected.

[('Friday   ', Decimal('16.91')),
 ('Thursday ', Decimal('16.64')),
 ('Wednesday', Decimal('13.51')),
 ('Tuesday  ', Decimal('13.38')),
 ('Saturday ', Decimal('13.37')),
 ('Monday   ', Decimal('13.16')),
 ('Sunday   ', Decimal('13.04'))]

### AGGREGATIONS:

1. Score

In [46]:
%%sql

SELECT 
    MIN(csat_score) AS min_score,
    MAX(csat_score) AS max_score,
    round(AVG(csat_score),1) AS avg_score
FROM calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(1, 10, Decimal('5.5'))]

2. Dates

In [47]:
%%sql 

SELECT 
    MIN(call_date) AS earliest_date,
    MAX(call_date) AS most_recent_date
FROM calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(datetime.date(2020, 10, 1), datetime.date(2020, 10, 31))]

3. Duration

In [48]:
%%sql

SELECT 
    MIN(duration_minutes) AS min_call_duration,
    MAX(duration_minutes) AS max_call_duration,
    round(AVG(duration_minutes),1) AS avg_call_duration
FROM calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(5, 45, Decimal('25.0'))]

4. Response time for every center

In [63]:
%%sql

SELECT 
    call_center, 
    response_time, 
    COUNT(*) AS COUNT
FROM calls
GROUP BY call_center, response_time
ORDER BY call_center ASC, COUNT DESC

 * postgresql://postgres:***@localhost/call_center_project
12 rows affected.

[('Baltimore/MD        ', 'Within SLA          ', 6855),
 ('Baltimore/MD        ', 'Below SLA           ', 2768),
 ('Baltimore/MD        ', 'Above SLA           ', 1389),
 ('Chicago/IL          ', 'Within SLA          ', 3361),
 ('Chicago/IL          ', 'Below SLA           ', 1361),
 ('Chicago/IL          ', 'Above SLA           ', 697),
 ('Denver/CO           ', 'Within SLA          ', 1741),
 ('Denver/CO           ', 'Below SLA           ', 692),
 ('Denver/CO           ', 'Above SLA           ', 343),
 ('Los Angeles/CA      ', 'Within SLA          ', 8668),
 ('Los Angeles/CA      ', 'Below SLA           ', 3327),
 ('Los Angeles/CA      ', 'Above SLA           ', 1739)]

5. Average call duration for call centers

In [65]:
%%sql

SELECT 
    call_center, 
    ROUND(AVG(duration_minutes),2) AS avg_duration
FROM calls
GROUP BY call_center
ORDER BY avg_duration DESC

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Chicago/IL          ', Decimal('25.06')),
 ('Los Angeles/CA      ', Decimal('25.05')),
 ('Denver/CO           ', Decimal('25.02')),
 ('Baltimore/MD        ', Decimal('24.96'))]

6. Average duration for every channel

In [67]:
%%sql

SELECT 
    channel, 
    ROUND(AVG(duration_minutes), 3) AS avg_duration
FROM calls
GROUP BY channel
ORDER BY avg_duration DESC

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Email               ', Decimal('25.099')),
 ('Call-Center         ', Decimal('25.046')),
 ('Web                 ', Decimal('25.022')),
 ('Chatbot             ', Decimal('24.918'))]

7. Average duration by sentiment

In [72]:
%%sql

SELECT 
    sentiment, 
    round(AVG(duration_minutes),2) AS avg_duration
FROM calls
GROUP BY sentiment
ORDER BY avg_duration DESC

 * postgresql://postgres:***@localhost/call_center_project
5 rows affected.

[('Negative            ', Decimal('25.26')),
 ('Very Negative       ', Decimal('24.94')),
 ('Neutral             ', Decimal('24.94')),
 ('Positive            ', Decimal('24.86')),
 ('Very Positive       ', Decimal('24.76'))]

8. Average duration and customer satisfaction by state

In [71]:
%%sql

SELECT 
    state, 
    round(AVG(duration_minutes), 2) AS avg_duration,
    round(AVG(csat_score),2) AS avg_score
FROM calls
GROUP BY state
ORDER BY avg_duration DESC

 * postgresql://postgres:***@localhost/call_center_project
51 rows affected.

[('Rhode Island        ', Decimal('27.66'), Decimal('5.89')),
 ('Delaware            ', Decimal('26.59'), Decimal('4.96')),
 ('Hawaii              ', Decimal('26.21'), Decimal('5.87')),
 ('Montana             ', Decimal('26.09'), Decimal('5.52')),
 ('South Dakota        ', Decimal('26.08'), Decimal('5.51')),
 ('Idaho               ', Decimal('26.07'), Decimal('5.82')),
 ('Illinois            ', Decimal('26.04'), Decimal('5.71')),
 ('Kansas              ', Decimal('25.88'), Decimal('5.57')),
 ('Minnesota           ', Decimal('25.84'), Decimal('5.44')),
 ('Michigan            ', Decimal('25.73'), Decimal('5.44')),
 ('Connecticut         ', Decimal('25.62'), Decimal('5.45')),
 ('Wisconsin           ', Decimal('25.52'), Decimal('5.52')),
 ('Pennsylvania        ', Decimal('25.47'), Decimal('5.67')),
 ('Iowa                ', Decimal('25.39'), Decimal('5.43')),
 ('Kentucky            ', Decimal('25.36'), Decimal('5.47')),
 ('West Virginia       ', Decimal('25.20'), Decimal('5.63')),
 ('Maryland            ', Decimal('25.19'), Decimal('5.23')),
 ('Louisiana           ', Decimal('25.19'), Decimal('5.74')),
 ('Arkansas            ', Decimal('25.16'), Decimal('5.18')),
 ('Florida             ', Decimal('25.10'), Decimal('5.62')),
 ('District of Columbia', Decimal('25.10'), Decimal('5.47')),
 ('California          ', Decimal('25.06'), Decimal('5.57')),
 ('Oregon              ', Decimal('25.06'), Decimal('5.55')),
 ('Texas               ', Decimal('25.06'), Decimal('5.59')),
 ('Indiana             ', Decimal('24.98'), Decimal('5.51')),
 ('Massachusetts       ', Decimal('24.97'), Decimal('5.91')),
 ('Ohio                ', Decimal('24.96'), Decimal('5.63')),
 ('Nevada              ', Decimal('24.96'), Decimal('5.26')),
 ('New York            ', Decimal('24.93'), Decimal('5.38')),
 ('Alabama             ', Decimal('24.92'), Decimal('5.51')),
 ('Tennessee           ', Decimal('24.91'), Decimal('5.60')),
 ('Virginia            ', Decimal('24.88'), Decimal('5.38')),
 ('New Mexico          ', Decimal('24.80'), Decimal('5.36')),
 ('North Carolina      ', Decimal('24.73'), Decimal('5.47')),
 ('Nebraska            ', Decimal('24.71'), Decimal('4.88')),
 ('Mississippi         ', Decimal('24.62'), Decimal('5.83')),
 ('Georgia             ', Decimal('24.61'), Decimal('5.69')),
 ('Oklahoma            ', Decimal('24.60'), Decimal('5.60')),
 ('New Jersey          ', Decimal('24.52'), Decimal('5.54')),
 ('Vermont             ', Decimal('24.36'), Decimal('6.50')),
 ('Arizona             ', Decimal('24.33'), Decimal('5.55')),
 ('North Dakota        ', Decimal('24.32'), Decimal('6.37')),
 ('Washington          ', Decimal('24.28'), Decimal('5.76')),
 ('Utah                ', Decimal('24.24'), Decimal('5.67')),
 ('South Carolina      ', Decimal('24.21'), Decimal('5.19')),
 ('Colorado            ', Decimal('24.07'), Decimal('5.57')),
 ('Missouri            ', Decimal('24.03'), Decimal('5.57')),
 ('Wyoming             ', Decimal('24.00'), Decimal('6.00')),
 ('Alaska              ', Decimal('23.49'), Decimal('5.56')),
 ('New Hampshire       ', Decimal('22.63'), Decimal('4.92')),
 ('Maine               ', Decimal('22.38'), Decimal('3.14'))]