<!-- pip install ipython-sql
pip install sqlalchemy
pip install psycopg2 -->

In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [52]:
import os
from dotenv import load_dotenv

dotenv_path = ".env"
load_dotenv()

PASSWORD = os.getenv("PASSWORD", " ")
DATA = os.getenv("DATA", " ")

In [53]:
from sqlalchemy import create_engine

engine = create_engine(DATA)

In [54]:
%%sql

SELECT *
FROM Calls
LIMIT 5

 * postgresql://postgres:***@localhost/call_center_project
5 rows affected.

[('DKK-57076809-w-055481-fU                          ', 'Analise Gairdner                                  ', 'Neutral             ', 7, 'Billing Question    ', 'Detroit                                           ', 'Michigan            ', 'Call-Center         ', 'Within SLA          ', 17, 'Los Angeles/CA      ', datetime.date(2020, 10, 29)),
 ('QGK-72219678-w-102139-KY                          ', 'Crichton Kidsley                                  ', 'Very Positive       ', None, 'Service Outage      ', 'Spartanburg                                       ', 'South Carolina      ', 'Chatbot             ', 'Within SLA          ', 23, 'Baltimore/MD        ', datetime.date(2020, 10, 5)),
 ('GYJ-30025932-A-023015-LD                          ', 'Averill Brundrett                                 ', 'Negative            ', None, 'Billing Question    ', 'Gainesville                                       ', 'Florida             ', 'Call-Center         ', 'Above SLA           ', 45, 'Los Angeles/CA      ', datetime.date(2020, 10, 4)),
 ('ZJI-96807559-i-620008-m7                          ', 'Noreen Lafflina                                   ', 'Very Negative       ', 1, 'Billing Question    ', 'Portland                                          ', 'Oregon              ', 'Chatbot             ', 'Within SLA          ', 12, 'Los Angeles/CA      ', datetime.date(2020, 10, 17)),
 ('DDU-69451719-O-176482-Fm                          ', 'Toma Van der Beken                                ', 'Very Positive       ', None, 'Payments            ', 'Fort Wayne                                        ', 'Indiana             ', 'Call-Center         ', 'Within SLA          ', 23, 'Los Angeles/CA      ', datetime.date(2020, 10, 17))]

### AGGREGATIONS:

1. SCORE

In [46]:
%%sql

select min(csat_score) as min_score,
    max(csat_score) as max_score,
    round(avg(csat_score),1) as avg_score
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(1, 10, Decimal('5.5'))]

In [47]:
%%sql 

select min(call_date) as earliest_date,
    max(call_date) as most_recent_date
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(datetime.date(2020, 10, 1), datetime.date(2020, 10, 31))]

In [48]:
%%sql

select min(duration_minutes) as min_call_duration,
    max(duration_minutes) as max_call_duration,
    round(avg(duration_minutes),1) as avg_call_duration
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(5, 45, Decimal('25.0'))]

In [49]:
%%sql

select call_center, response_time, count(*) as count 
from calls
group by call_center, response_time
order by call_center asc, count desc

 * postgresql://postgres:***@localhost/call_center_project
12 rows affected.

[('Baltimore/MD        ', 'Within SLA          ', 6855),
 ('Baltimore/MD        ', 'Below SLA           ', 2768),
 ('Baltimore/MD        ', 'Above SLA           ', 1389),
 ('Chicago/IL          ', 'Within SLA          ', 3361),
 ('Chicago/IL          ', 'Below SLA           ', 1361),
 ('Chicago/IL          ', 'Above SLA           ', 697),
 ('Denver/CO           ', 'Within SLA          ', 1741),
 ('Denver/CO           ', 'Below SLA           ', 692),
 ('Denver/CO           ', 'Above SLA           ', 343),
 ('Los Angeles/CA      ', 'Within SLA          ', 8668),
 ('Los Angeles/CA      ', 'Below SLA           ', 3327),
 ('Los Angeles/CA      ', 'Above SLA           ', 1739)]

In [51]:
%%sql

select call_center, avg(duration_minutes) as avg_duration
from calls
group by call_center
order by avg_duration desc

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Chicago/IL          ', Decimal('25.0625576674663222')),
 ('Los Angeles/CA      ', Decimal('25.0532255715741954')),
 ('Denver/CO           ', Decimal('25.0165706051873199')),
 ('Baltimore/MD        ', Decimal('24.9619505993461678'))]

In [56]:
%%sql

select channel, avg(duration_minutes) as avg_duration
from calls
group by channel
order by avg_duration desc

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Email               ', Decimal('25.0987951807228916')),
 ('Call-Center         ', Decimal('25.0461509540370336')),
 ('Web                 ', Decimal('25.0223540145985401')),
 ('Chatbot             ', Decimal('24.9177567829457364'))]

In [58]:
%%sql

select state, round(avg(duration_minutes), 2) as avg_duration
from calls
group by state
order by avg_duration desc

 * postgresql://postgres:***@localhost/call_center_project
51 rows affected.

[('Rhode Island        ', Decimal('27.66')),
 ('Delaware            ', Decimal('26.59')),
 ('Hawaii              ', Decimal('26.21')),
 ('Montana             ', Decimal('26.09')),
 ('South Dakota        ', Decimal('26.08')),
 ('Idaho               ', Decimal('26.07')),
 ('Illinois            ', Decimal('26.04')),
 ('Kansas              ', Decimal('25.88')),
 ('Minnesota           ', Decimal('25.84')),
 ('Michigan            ', Decimal('25.73')),
 ('Connecticut         ', Decimal('25.62')),
 ('Wisconsin           ', Decimal('25.52')),
 ('Pennsylvania        ', Decimal('25.47')),
 ('Iowa                ', Decimal('25.39')),
 ('Kentucky            ', Decimal('25.36')),
 ('West Virginia       ', Decimal('25.20')),
 ('Maryland            ', Decimal('25.19')),
 ('Louisiana           ', Decimal('25.19')),
 ('Arkansas            ', Decimal('25.16')),
 ('Florida             ', Decimal('25.10')),
 ('District of Columbia', Decimal('25.10')),
 ('California          ', Decimal('25.06')),
 ('Oregon              ', Decimal('25.06')),
 ('Texas               ', Decimal('25.06')),
 ('Indiana             ', Decimal('24.98')),
 ('Massachusetts       ', Decimal('24.97')),
 ('Ohio                ', Decimal('24.96')),
 ('Nevada              ', Decimal('24.96')),
 ('New York            ', Decimal('24.93')),
 ('Alabama             ', Decimal('24.92')),
 ('Tennessee           ', Decimal('24.91')),
 ('Virginia            ', Decimal('24.88')),
 ('New Mexico          ', Decimal('24.80')),
 ('North Carolina      ', Decimal('24.73')),
 ('Nebraska            ', Decimal('24.71')),
 ('Mississippi         ', Decimal('24.62')),
 ('Georgia             ', Decimal('24.61')),
 ('Oklahoma            ', Decimal('24.60')),
 ('New Jersey          ', Decimal('24.52')),
 ('Vermont             ', Decimal('24.36')),
 ('Arizona             ', Decimal('24.33')),
 ('North Dakota        ', Decimal('24.32')),
 ('Washington          ', Decimal('24.28')),
 ('Utah                ', Decimal('24.24')),
 ('South Carolina      ', Decimal('24.21')),
 ('Colorado            ', Decimal('24.07')),
 ('Missouri            ', Decimal('24.03')),
 ('Wyoming             ', Decimal('24.00')),
 ('Alaska              ', Decimal('23.49')),
 ('New Hampshire       ', Decimal('22.63')),
 ('Maine               ', Decimal('22.38'))]

In [59]:
%%sql

select state, count(*) as count
from calls
group by state
order by count desc

 * postgresql://postgres:***@localhost/call_center_project
51 rows affected.

[('California          ', 3631),
 ('Texas               ', 3572),
 ('Florida             ', 2834),
 ('New York            ', 1786),
 ('Virginia            ', 1164),
 ('Ohio                ', 1160),
 ('District of Columbia', 1110),
 ('Pennsylvania        ', 1017),
 ('Georgia             ', 926),
 ('Illinois            ', 848),
 ('North Carolina      ', 765),
 ('Colorado            ', 742),
 ('Alabama             ', 738),
 ('Arizona             ', 737),
 ('Indiana             ', 736),
 ('Minnesota           ', 712),
 ('Missouri            ', 682),
 ('Tennessee           ', 664),
 ('Washington          ', 663),
 ('Louisiana           ', 627),
 ('Michigan            ', 612),
 ('Oklahoma            ', 538),
 ('Massachusetts       ', 493),
 ('Kansas              ', 467),
 ('Nevada              ', 459),
 ('Maryland            ', 415),
 ('Kentucky            ', 411),
 ('Connecticut         ', 408),
 ('Iowa                ', 366),
 ('Wisconsin           ', 342),
 ('New Jersey          ', 317),
 ('South Carolina      ', 315),
 ('West Virginia       ', 301),
 ('Utah                ', 298),
 ('Oregon              ', 261),
 ('Nebraska            ', 243),
 ('New Mexico          ', 212),
 ('Arkansas            ', 204),
 ('Mississippi         ', 178),
 ('Idaho               ', 174),
 ('Hawaii              ', 149),
 ('Alaska              ', 146),
 ('Delaware            ', 128),
 ('Montana             ', 94),
 ('South Dakota        ', 93),
 ('North Dakota        ', 76),
 ('New Hampshire       ', 51),
 ('Rhode Island        ', 35),
 ('Maine               ', 16),
 ('Vermont             ', 14),
 ('Wyoming             ', 11)]

In [ ]:
%%sql

select state, reason, count(*) as count
from calls
group by state, reason
order by count, reason, count desc