<!-- pip install ipython-sql
pip install sqlalchemy
pip install psycopg2 -->

In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
import os
from dotenv import load_dotenv

dotenv_path = ".env"
load_dotenv()

PASSWORD = os.getenv("PASSWORD", " ")
DATA = os.getenv("DATA", " ")

# Example format
# postgresql://postgres:password123@localhost/call_center_database

In [44]:
from sqlalchemy import create_engine


engine = create_engine(DATA)

In [45]:
%%sql

SELECT *
FROM Calls
LIMIT 5

 * postgresql://postgres:***@localhost/call_center_project
5 rows affected.

[('DKK-57076809-w-055481-fU                          ', 'Analise Gairdner                                  ', 'Neutral             ', 7, 'Billing Question    ', 'Detroit                                           ', 'Michigan            ', 'Call-Center         ', 'Within SLA          ', 17, 'Los Angeles/CA      ', datetime.date(2020, 10, 29)),
 ('QGK-72219678-w-102139-KY                          ', 'Crichton Kidsley                                  ', 'Very Positive       ', None, 'Service Outage      ', 'Spartanburg                                       ', 'South Carolina      ', 'Chatbot             ', 'Within SLA          ', 23, 'Baltimore/MD        ', datetime.date(2020, 10, 5)),
 ('GYJ-30025932-A-023015-LD                          ', 'Averill Brundrett                                 ', 'Negative            ', None, 'Billing Question    ', 'Gainesville                                       ', 'Florida             ', 'Call-Center         ', 'Above SLA           ', 45, 'Los Angeles/CA      ', datetime.date(2020, 10, 4)),
 ('ZJI-96807559-i-620008-m7                          ', 'Noreen Lafflina                                   ', 'Very Negative       ', 1, 'Billing Question    ', 'Portland                                          ', 'Oregon              ', 'Chatbot             ', 'Within SLA          ', 12, 'Los Angeles/CA      ', datetime.date(2020, 10, 17)),
 ('DDU-69451719-O-176482-Fm                          ', 'Toma Van der Beken                                ', 'Very Positive       ', None, 'Payments            ', 'Fort Wayne                                        ', 'Indiana             ', 'Call-Center         ', 'Within SLA          ', 23, 'Los Angeles/CA      ', datetime.date(2020, 10, 17))]

### AGGREGATIONS:

1. SCORE

In [46]:
%%sql

select min(csat_score) as min_score,
    max(csat_score) as max_score,
    round(avg(csat_score),1) as avg_score
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(1, 10, Decimal('5.5'))]

In [47]:
%%sql 

select min(call_date) as earliest_date,
    max(call_date) as most_recent_date
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(datetime.date(2020, 10, 1), datetime.date(2020, 10, 31))]

In [48]:
%%sql

select min(duration_minutes) as min_call_duration,
    max(duration_minutes) as max_call_duration,
    round(avg(duration_minutes),1) as avg_call_duration
from calls

 * postgresql://postgres:***@localhost/call_center_project
1 rows affected.

[(5, 45, Decimal('25.0'))]

In [49]:
%%sql

select call_center, response_time, count(*) as count 
from calls
group by call_center, response_time
order by call_center asc, count desc

 * postgresql://postgres:***@localhost/call_center_project
12 rows affected.

[('Baltimore/MD        ', 'Within SLA          ', 6855),
 ('Baltimore/MD        ', 'Below SLA           ', 2768),
 ('Baltimore/MD        ', 'Above SLA           ', 1389),
 ('Chicago/IL          ', 'Within SLA          ', 3361),
 ('Chicago/IL          ', 'Below SLA           ', 1361),
 ('Chicago/IL          ', 'Above SLA           ', 697),
 ('Denver/CO           ', 'Within SLA          ', 1741),
 ('Denver/CO           ', 'Below SLA           ', 692),
 ('Denver/CO           ', 'Above SLA           ', 343),
 ('Los Angeles/CA      ', 'Within SLA          ', 8668),
 ('Los Angeles/CA      ', 'Below SLA           ', 3327),
 ('Los Angeles/CA      ', 'Above SLA           ', 1739)]

In [51]:
%%sql

select call_center, avg(duration_minutes) as avg_duration
from calls
group by call_center
order by avg_duration desc

 * postgresql://postgres:***@localhost/call_center_project
4 rows affected.

[('Chicago/IL          ', Decimal('25.0625576674663222')),
 ('Los Angeles/CA      ', Decimal('25.0532255715741954')),
 ('Denver/CO           ', Decimal('25.0165706051873199')),
 ('Baltimore/MD        ', Decimal('24.9619505993461678'))]